.categories {
  background-color: red;
  height: 80vh;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}
.grid-col-span-2 {
  grid-column: span 2;
}

.categories div {
  background-color: aquamarine;
}
.categories div:last-child {
  background-color: blueviolet;
  grid-column-start: 4;
  grid-row-start: 1;
  grid-row-end: 3;
}
